# Ignore Terraform files
.terraform.lock.hcl
.terraform*
terraform*

# Ignore Harbor data files
harbor/*
ssl/*


# Ignore Cloud Provider Kind Repository files
cloud-provider-kind/*

# Ignore Kubeconfig files
*-config